@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;	
}
a {
	text-decoration: none;
}
.top-line {
	height: 40px;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 75px;
	position: relative;
	-webkit-user-select: none;
}
.body-wrapper {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
header {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
	width: 1280px;
	margin: 0 auto;
	height: 200px;
	position: absolute;
	font-size: 16px;
	font-family: "ProximaNova-Bold";
	-webkit-user-select: none;
}
article {
	top: 200px;
    right: 0;
    left: 0;
    margin: 0 auto;
	width: 1280px;
	height: 1600px;
	position: absolute;
	overflow-x: hidden;
	-webkit-user-select: none;
}
footer {
	top: 1500px;
	bottom: 0;
    right: 0;
    left: 0;
    width: 1280px;
    height: 373px;
    position: absolute;
    margin: 0 auto;	
    overflow: auto;
    -webkit-user-select: none;
}

.logo {
	margin: none;
	padding: none;
	margin: 10px 0;
}
.logo-b {
	height: 40px;
	width: 143px;
	margin-left: 40px;
	margin-right: 0px;
	padding-right: 0px;
	float: left;
	opacity: 1;
}
.navigate {
	float: left;
	margin-left: 210px;
	opacity: 1;
	padding: 0px;
}
.menu {
	margin-top: 10px;
	padding: 0;
}
.menu li {
	color: black;
	font-size: 16px;
	display: inline;
	padding: 0px;
	font-family: "ProximaNova-Bold";
}
.menu li:not(:nth-child(1)){
	margin-left: 20px;
}
.mos-logo {
  	width: 143px;
  	height: 40px;
  	object-fit: contain;
}
.number-vk-wrapper {
	margin-left: 150px;
	float: left;
}
.list-number-vk {
	padding: 0;
	margin: 10px 0 0 0;
}
.list-number-vk li {
	display: inline;
}
.list-number-vk li:last-child {
	margin-left: 20px;
}

.content {
	width: 100%;	
	float: left;
}

/*Блок "Контент"
----------------------------------------------------------------------------------------------*/

.main-img {
	width: 100%;
	height: 350px;
	float: left;
	margin-bottom: 120px; 
}

.img-news {
	height: 350px;
}

.wrap-MainText * {
	padding: 0;
	margin: 0;
}

.wrap-MainText {
	position: relative;
	margin-top: 0;
	width: 100%;
	height: 1000px;
}

.title-p {
	font-family: "ProximaNova-Bold";
	font-size: 30px;
	margin-bottom: 25px;
}

.data-p {
	font-family: "ProximaNova-Regular";
	font-size: 20px;
	margin-bottom: 40px;
	color: #9b9b9b;
}

.text-p {
	font-family: "ProximaNova-Regular";
	font-size: 20px;

}

/*Футер
---------------------------------------------------------------------------------------------*/
.footer-left {
	margin-left: 40px;
	float: left;
	width: 313px;

}
.footer-left p {
	font-size: 20px;
	margin: 0 0 20px 0;
}
.footer-left p:nth-child(1) {
	font-family: "ProximaNova-Bold";
	font-size: 40px;
}
.footer-left p:nth-child(4) {
	font-family: "ProximaNova-Bold";
}
.footer-location {
	height: 48px;
	margin-bottom: 91px;
	position: relative;
}
.geo-img {
	height: 48px;
	width: 29px;
	float: left;
}
.footer-location p {
	font-family: "ProximaNova-Regular";
	padding: 0;
	margin: 0 0 0 26px;
	float: left;
	word-wrap: break-word;
	width: 241px;
}
.footer-middle {
	float: left;
	margin-left: 141px;
	width: 198px;
}
.footer-list {
	margin: 0;
	padding: 0;
	font-family: "ProximaNova-Regular";
	font-size: 20px;
}

.footer-list li {
	list-style-type: none;
	margin-bottom: 28px;
}
.footer-right {
	width: 426px;
	margin-left: 103px;
	float: left;
}
.footer-right-title {
	font-family: "ProximaNova-Bold";
	font-size: 20px;
	margin: 0px 0 30px 0;
	padding: 0px;
}
.input-email {
	float: left;
	font-family: "ProximaNova-Regular";
	font-size: 16px;
	border-radius: 15px;
	width: 297px;
	height: 50px;
	border-radius: 10px 0 0 10px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.15);
}
.but-email {
	font-family: "ProximaNova-Regular";
	font-size: 16px;
	color: white;
	float: left;
	height: 50px;
	width: 129px;
	border-radius: 10px;
	background-color: #ffa900;
}
.but-email p {
	margin: 15px 0 0 24px;
}