{% extends "d_base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'desktop/css/style-collab.css' %}">
	<meta charset="utf-8" />
	<title>Партнёры</title>
	<script src="{% static 'desktop/script/slider.js' %}"></script>
{% endblock %}


{% block header %}
	<div class="content">
		<div class="logo-content">
			<img src="{% static 'desktop/img/scene-desktop.svg' %}" class="bitmap">
		</div>
		<div class="content-text-wrapper">
			<div class="main-text">
				Сотрудничество
			</div>
			<div class="second-text"> 
				<p>Плодотворная работа между предприятиями и</p>
				<p>студентами Политеха</p>
			</div>
			<div class="content-button">
				<a href="#top"><p style="color: #ffffff;">Связаться с нами</p></a>
			</div>
		</div>
	</div>	
{% endblock %}

{% block content %}
	<section class="collab-text">
		<p class="collab-caption">Уажаемые коллеги!</p>
		<p class="collab-main">
			Мы рады приветствовать Вас в Московском Политехе – современном и динамично развивающемся, одном из крупнейших технических вузов России.
		</p>
		<p class="collab-main">
			Миссией университета является подготовка инженеров и менеджеров для предприятий реального сектора экономики, в том
			числе оборонно-промышленного комплекса, и инженерной элиты, обладающей компетенциями проектной работы.
			Стратегический приоритет вуза – развитие инженерной деятельности: мы стремимся быть неотъемлемой частью
			национальной экономики путем решения прикладных задач машиностроения, проектирования и производства прототипов.
		</p>
		<p class="collab-main">
			Для организации эффективного сотрудничества в Московском Политехе сформирован комплекс элементов взаимодействия
			с работодателями, ориентированных на профессиональную ориентацию обучающихся и сотрудничество в направлении
			связей с общественностью.
		</p>
		<p class="collab-main">
			Бизнес-партнерам мы предлагаем подбор кандидатов на открытые вакансии, целевую подготовку специалистов,
			проведение учебных и производственных практик, организацию совместных студенческих научно-образовательных
			проектов, программ международной мобильности и HR-брендинговых кампаний.
		</p>
		<div class="collab-ico-wrap">
			<img src="{% static 'desktop/img/autodesk.png' %}">
			<img src="{% static 'desktop/img/ws.png' %}">
			<img src="{% static 'desktop/img/rosteh.png' %}">
			<img src="{% static 'desktop/img/cret.png' %}">
		</div>
		<p class="collab-main">
			Работодатели вуза выступают спонсорами команд Московского Политеха – участников студенческих международных
			инженерных соревнований Formula Student, Smart Moto Challenge, команд кольцевых автогонок, ралли, багги и национальной
			серии дрифтинга. При активном участии бизнеса ежегодно организуется Студенческая научно техническая конференция:
			по ключевым направлениям конференции партнерами вуза учреждаются спецноминации, победители которых получают
			ценные призы – цифровую технику и стажировки в зарубежных компаниях.
		</p>
		<p class="collab-main">
			Современная образовательная среда вуза приспособлена к оперативной адаптации под запросы массовых работодателей.
			При участии специалистов компаний в вузе проводятся корпоративные образовательные программы, специализированные
			образовательные модули, реализуются инженерные и дизайнерские проекты, выполняются выпускные квалификационные
			работы по актуальным задачам для бизнеса.
		</p>
		<p class="collab-main">
			Московский Политех открыт для сотрудничества!
		</p>
	</section>
{% endblock %}