{% extends "d_base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'desktop/css/style-pg.css' %}">
	<meta charset="utf-8" />
	<title>Программа обучения</title>
	<script src="{% static 'desktop/script/slider.js' %}"></script>
{% endblock %}

{% block header %}
	<div class="content">
		<div class="logo-content">
			<img src="{% static 'desktop/img/3-d.svg' %}" class="bitmap">
		</div>
		<div class="content-text-wrapper">
			<div class="main-text">
				Программа обучения
			</div>
			<div class="second-text">
				<p>
					Здесь вы можете ознакомиться с перечнем дисциплин, которые вы будете изучать на протяжении вашего обучения. Плодотворная работа между предприятиями и студентами Политеха.
				</p> 
			<!-- 	<p>Плодотворная работа между предприятиями и</p>
				<p>студентами Политеха</p> -->
			</div>
			<a href = "https://drive.google.com/file/d/1FPElFD4sjA5yl9QP0DPoQ30KK0wZjwZx/view">
				<div class="content-button">
					<p>Скачать PDF</p>
				</div>
			</a>
		</div>
	</div>	
{% endblock %}

{% block content %}
	<section class="pg-text">
		<!-- Первый год 1 семестр-->
		<p class="pg-caption">1 год 1 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Иностранный язык</li>
			<li>Русский язык и культура речи</li>
			<li>Линейная алгебра</li>
			<li>Физика</li>
			<li>Основы ИКТ (Cisco ITE)</li>
			<li>Инженерная графика</li>
			<li>3D-моделирование в САПР</li>
			<li>Программирование в САПР (С++)</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Первый год 2 семестр-->
		<p class="pg-caption">1 год 2 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Иностранный язык</li>
			<li>Навыки эффективной презентации</li>
			<li>Физическая культура</li>
			<li>Математический анализ</li>
			<li>Физика</li>
			<li>Основы проектирования механизмов</li>
			<li>Маш. черчение</li>
			<li>Основы измерений</li>
			<li>3D-моделирование в САПР (сложные сборки)</li>
			<li>Программирование в САПР (С++)</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Второй год 3 семестр-->
		<p class="pg-caption">2 год 3 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Иностранный язык</li>
			<li>Основы маркетинга</li>
			<li>Комплексная математика и дифференциальные уравнения</li>
			<li>Детали машин и компьютерное моделирование</li>
			<li>Основы материаловедения и сопромата</li>
			<li>Практикум САЕ</li>
			<li>Конструкторская документация</li>
			<li>Веб-технологии</li>
			<li>Технологии программирования</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Второй год 4 семестр-->
		<p class="pg-caption">2 год 4 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Технический перевод</li>
			<li>Безопасность жизнедеятельности</li>
			<li>Дискретная математика/li>
			<li>Базы данных</li>
			<li>Электротехника и электроника</li>
			<li>Практикум электрических САПР</li>
			<li>Основы сетевых технологий</li>
			<li>Веб-технологии</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Третий год 5 семестр-->
		<p class="pg-caption">3 год 5 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Технический перевод</li>
			<li>Письменная и деловая коммуникация</li>
			<li>Математическая логика и теория алгоритмов</li>
			<li>Управление жизненным циклом и документами (PML и PDM)</li>
			<li>Основы термодинамики, гидро- и газо- динамик</li>
			<li>Практикум САЕ</li>
			<li>Основы логистик</li>
			<li>Организация производства</li>
			<li>Мобильная разработка</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Третий год 6 семестр-->
		<p class="pg-caption">3 год 6 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Технический перевод</li>
			<li>Философия</li>
			<li>Корпоративные информационные системы</li>
			<li>Моделирование бизнес процессов</li>
			<li>Технологии машиностроения</li>
			<li>Практикум САЕ</li>
			<li>Информационная безопасность</li>
			<li>Программная инженерия/li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Четвёртый год 7 семестр-->
		<p class="pg-caption">4 год 7 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Технический перевод</li>
			<li>История</li>
			<li>Защита интеллектуальной собственности (KL)</li>
			<li>Технологическое предпринимательство</li>
			<li>Разработка ТЭО</li>
			<li>Разработка программной документации</li>
			<li>Основы бухучета и управления финансами</li>
			<li>Управление ИТ-проектами</li>
			<li>Реинжиниринг бизнес-процессов</li>
			<li>Управление нормативно-справочной информацией (MDM)</li>
			<li>Проектная деятельность</li>
		</ul>

		<!-- Четвёртый год 8 семестр-->
		<p class="pg-caption">4 год 7 семестр</p>
		<p class="ul-caption">Предметы:</p>
		<ul class="pg-ul">
			<li>Учебная практика</li>
			<li>Производственная практика</li>
			<li>Преддипломная практика</li>
			<li>ВКР</li>
		</ul>

	</section>
{% endblock %}
