{% extends "m_base.html" %}
{% load staticfiles %}

{% block head%}
    <link rel="stylesheet" href="{% static 'mobile/css/style-pg.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0">
    <title>Программа обучения</title>
{% endblock %}

{% block content %} 
        <div class="cadText">
                <p>Программа обучения</p>
        </div>
        <div class="progText">
                <p>Инновационный подход к традицион-</p>
                    <p>ным сферам инженерного дела</p>
        </div>
        <a href="https://drive.google.com/file/d/1FPElFD4sjA5yl9QP0DPoQ30KK0wZjwZx/view" style="text-decoration: none;"><div class="btn"><button class="buttons">Скачать PDF</button></div></a>
        
        <article>
            <div class="subject">
                <p class="year">1 год</p>
                <p>Предметы:</p>
                <ul class="pg-ul">
                    <li>Иностранный язык</li>
                    <li>Русский язык</li>
                    <li>Математика (линейная алгебра и математический анализ</li>
                    <li>Физика</li>
                    <li>Основы ИКТ</li>
                    <li>Физическая культура</li>
                    <li>Инженерная графика</li>
                    <li>3D-моделирование в САПР</li>
                    <li>Программирование в САПР</li>
                </ul>
                <p class="year">2 год</p>
                <p>Предметы:</p>
                <ul class="pg-ul">
                    <li>Иностранный язык</li>
                    <li>Безопасность жизнедеятельности</li>
                    <li>Комплексная и дескретная математика</li>
                    <li>Базы данных</li>
                    <li>Основы материаловедения и сопромата</li>
                    <li>Детали машин и компьютерное моделирование</li>
                    <li>Конструкторская документация</li>
                    <li>Веб-разработка</li>
                    <li>Основы сетевых технологий</li>
                    <li>Электротехника и электроника</li>
                </ul>
                <p class="year">3 год</p>
                <p>Предметы:</p>
                <ul class="pg-ul">
                    <li>Технический перевод</li>
                    <li>Русский язык</li>
                    <li>Математика (линейная алгебра и математический анализ</li>
                    <li>Физика</li>
                    <li>Основы ИКТ</li>
                    <li>Физическая культура</li>
                    <li>Инженерная графика</li>
                    <li>3D-моделирование</li>
                    <li>Программирование</li>
                </ul>
                <p class="year">4 год</p>
                <p>Предметы:</p>
                <ul class="pg-ul">
                    <li>Иностранный язык</li>
                    <li>Русский язык</li>
                    <li>Математика (линейная алгебра и математический анализ</li>
                    <li>Физика</li>
                    <li>Основы ИКТ</li>
                    <li>Физическая культура</li>
                    <li>Инженерная графика</li>
                    <li>3D-моделирование</li>
                    <li>Программирование</li>
                </ul>
            </div>
        </article>
{% endblock %}